@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/background-stars.svg);
  background-color: #060624;
  font-family: 'Spartan', sans-serif;
  color: white;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(110, 46, 213, 0.5);
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(246, 246, 247, 0.4);
}

.nav .nav__item {
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: #060624;
  color: white;
  margin-right: 30px;
  color: rgba(246, 246, 247, 0.8);
}

.nav .nav__item:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid white;
}

.main {
  flex: 1;
  margin-top: 60px;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > .planet {
  margin-right: 150px;
}

.main__info {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.main__info > h1 {
  text-transform: uppercase;
  font-size: 3.7rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.main__info > p {
  line-height: 1.8;
  color: rgba(246, 246, 247, 0.7);
  margin-bottom: 30px;
}

.main__info a {
  text-decoration: none;
  color: rgba(246, 246, 247, 0.4);
}

.main__info > p:nth-of-type(2) > span {
  color: rgba(246, 246, 247, 0.4);
}

.main__info > .internal__pages {
  display: flex;
  flex-direction: column;
}

.internal__pages > button {
  color: white;
  margin-bottom: 15px;
  padding: 15px 30px;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid rgba(246, 246, 247, 0.4);
  background-color: #060624;
  letter-spacing: 2.5px;
}
.internal__pages > button:hover {
  cursor: pointer;
  background-color: #542ba5;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.footer > .data {
  border: 1px solid rgba(246, 246, 247, 0.4);
  padding: 30px 50px;
  margin-right: 50px;
  text-transform: uppercase;
}

.data > h4 {
  margin-bottom: 15px;
  color: rgba(246, 246, 247, 0.3);
  letter-spacing: 2px;
}
