* {
  margin: 0;
}

body {
  width: 800px;
}

.container {
  border: 2px dashed black;
}

.stripe1 {
  background-color: #1f2041;
  border: 10px solid yellow;
}
.stripe2 {
  background-color: #4b3f72;
}
.stripe3 {
  background-color: #ffc857;
}
.stripe4 {
  background-color: #119da4;
}

.stripe-nest1 {
  background-color: #19647e;
}
.stripe-nest2 {
  background-color: #2e728a;
}
.stripe-nest3 {
  background-color: #417f95;
}

.stripe4 p {
  color: #1b03a3;
}

.stripe5 {
  background-color: #528b9f;
}

.stripe4 > h4,
.stripe5 > h5 {
  color: #39ff14;
}
