@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  align-items: center;
  font-family: 'Red Had Display', sans-serif;
}

#logo {
  margin: 60px auto;
}

p {
  opacity: 0.65;
  font-weight: 200;
  line-height: 1.5;
}

.header {
  display: flex;
  margin: 30px 0;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header_info {
  padding: 20px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 30px;
  color: white;
}

.primary {
  background-color: #4d96a9;
  width: 150px;
}

.secondary {
  background-color: #855fb1;
}

.number {
  width: 56px;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_images {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}

.main_images img {
  width: 230px;
  border-radius: 10px;
  margin: 10px;
}

.info {
  text-align: center;
  width: 450px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.info h4 {
  color: #4d96a9;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(77, 151, 169, 0.63),
      rgba(77, 151, 169, 0.664)
    ),
    url('../images/image-footer.jpg');
  width: 100%;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  width: 30%;
  text-align: center;
  color: white;
}

.footer img {
  position: absolute;
  top: -110px;
  left: calc(50% - 28px);
}
